// Global
$global-border-radius: 3px;

// Body
$body-background-color: rgba(#ffffff, 1.0);
$body-text-color: rgba(#414759, 1.0);

// Widths
$header-max-width: 1200px;
$banner-max-width: 1040px;
$content-max-width: 900px;
$footer-max-width: 1000px;

// Colors
// $color-theme: rgba(#9b50ba, 1.0);
$color-theme: rgba(#58a4b0, 1.0);
$color-info: rgba(#3498db, 1.0);
$color-success: rgba(#27ae60, 1.0);
$color-danger: rgba(#e74c3c, 1.0);
$color-light: rgba(#f8f9fa, 1.0);
$color-dark: rgba(#373f51, 1.0);

// Buttons
$button-background-color: $color-theme;
$button-text-color: $color-light;

// Font
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$font-size-base: 18px;

$font-weight-bold: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

// Header
$header-background-color: darken($body-background-color, 3.5%);
$header-border-color: darken($body-background-color, 7.5%);
