@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "thirdparty/fontawesome";
@import "thirdparty/theme";
@import "thirdparty/highlight";
@import "thirdparty/sweetalert";

body {
    background: darken(#fff, 4%);
}

p:last-child {
    margin-bottom: 0;
}

pre, code {
    border: 0;
}

a.text-muted-primary {
    color: lighten(#2c3e50, 25%);

    &:hover {
        color: lighten(#2c3e50, 10%);
    }
}

textarea {
    resize: vertical;
}

code {
    font-size: 80%;
}

.list-inline-no-margin {
    margin-left: 0;
}

dl.spaced > dd {
    margin-bottom: 16px;
}

dl.spaced > dd:last-child {
    margin-bottom: 0;
}

.list-inline > li {
    padding-left: 0;

    &:last-child {
        padding-right: 0;
    }
}

.topic-title {
    font-size: 24px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.general-title {
    font-size: 24px;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 15px;

    &.small {
        line-height: 18px;
        font-size: 18px;
    }
}

.box {
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-bottom: 15px;
}

.topic-container {
    margin-bottom: 21px;

    & .head {
        line-height: 24px;
        padding-bottom: 5px;
    }

    & .border {
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
        background: #fff;
    }

    & .body {
        padding: 15px;
    }

    & .foot {
        padding: 15px;
        border-top: 1px solid darken(#fff, 4%);

        & ul.list-inline {
            margin-bottom: 0;
        }
    }
}

.page-content {
    margin-bottom: 42px;
}
