@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "thirdparty/fontawesome";
@import "thirdparty/theme";
@import "thirdparty/highlight";
@import "thirdparty/sweetalert";

pre, code {
    border: 0;
}

textarea {
    resize: vertical;
}

code {
  font-size: 80%;
}