.container {
    padding: 20px;
}

.avatar {
    display: block;
    width: 150px;
    height: 150px;

    div {
        background-image: url(https://www.gravatar.com/avatar/?s=50&d=identicon);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: $global-border-radius;
        width: 100%;
        height: 100%;
    }

    &.avatar-huge {
        width: 250px;
        height: 250px;
    }

    &.avatar-small {
        width: 75px;
        height: 75px;
    }
}

.box {
    border: 1px solid darken($body-background-color, 10%);
    border-radius: $global-border-radius;

    .box-header {
        border-bottom: 1px solid darken($body-background-color, 10%);
        font-weight: $font-weight-bold;
        background-color: darken($body-background-color, 3.5%);
        padding: 15px 20px;
    }

    .box-body {
        padding: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.post {
    &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid darken($body-background-color, 10%);
        margin-bottom: 20px;
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-author {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    .post-author_image,
    .post-author_info {
        display: inline-block;
    }

    .post-author_image {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-left: -70px;
        margin-bottom: 0 !important;
        background-image: url(https://www.gravatar.com/avatar/?s=50&d=identicon);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: $global-border-radius;
    }

    .post-author_info {
        @include darkAnchor;
        color: lighten($body-text-color, 25%);

        a {
            font-weight: $font-weight-bold;
        }
    }

    .post-body {
        margin-bottom: -20px;
    }

    .post-footer {
        margin-top: 40px;
    }
}

.text-right {
    text-align: right !important;
}

.text-light {
    color: lighten($body-text-color, 25%);
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group {
    list-style: none;
    border: 1px solid darken($body-background-color, 10%);
    border-radius: $global-border-radius;
}

.list-group-item {
    padding: 20px;
    border-bottom: 1px solid darken($body-background-color, 10%);

    &:last-child {
        border-bottom: 0;
    }
}

.alert {
    padding: 15px;
    background-color: darken($body-background-color, 3.5%);
    border: 1px solid darken($body-background-color, 10%);
    border-radius: $global-border-radius;

    &.alert-info {
        background-color: lighten($color-info, 40%);
        border-color: lighten($color-info, 20%);
    }

    &.alert-success {
        background-color: lighten($color-success, 55%);
        border-color: lighten($color-success, 40%);
    }

    &.alert-danger {
        background-color: lighten($color-danger, 40%);
        border-color: lighten($color-danger, 20%);
    }
}

.profile {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-name {
    font-size: 24px;
    font-weight: 500;
}
