body {
    -webkit-font-smoothing: antialiased;
}

textarea {
    resize: vertical;
}

label {
    font-weight: normal;
}

p {
    margin: 0 0 15px 0;

    &:last-child {
        margin: 0;
    }
}

pre code {
    font-family: Consolas, Monaco, 'Andale Mono', Menlo, "Courier New", monospace;
}

code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {
    text-shadow: none;
    background: #b3d4fc;
}
