.col-no-pad {
    padding: 0;
}

.user-avatar {
    position: relative;
    border-radius: 100%;
    border: 3px solid #fff;
    background: #fff;
}

.user-avatar--forum {
    margin-top: 10px;
}

.user-avatar__image {
    border-radius: 100%;
}
