$flexboxgrid-max-width: 1000px;
$grid-columns: 12;
$gutter-width: 20px;
$outer-margin: 20px;

$breakpoints:
  xs 500px 100%,
  sm 768px 728px,
  md 992px 952px,
  lg 1200px 1000px;

@import "~flexboxgrid-sass/flexboxgrid";

.row:not(:last-child) {
    margin-bottom: 20px;
}

.col:not(:last-child) {
    margin-bottom: 20px;
}
